<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loanguard.backend.mapper.CorporationLoanApplicationMapper">
    
    
    <select id="findByUserId" resultType="com.loanguard.backend.model.CorporationLoan">
        SELECT * FROM corporation_loan_application WHERE user_id = #{userId}
    </select>

</mapper>